<div class="container">
  <div class="page-header">
    <a href="/"><h1>SHOE FINDER</h1></a>
    <h4>Search local shoe stores for your favorite brands</h4>
  </div>

  <div class="wrapper">
    <h2>CURRENT BRANDS</h2>
      <% @brands.each do |brand| %>
        <p><a href="/brands/<%= brand.id %>"><%= brand.brand_name %></a></p>
      <% end %>

    <div class='btnbar'>
      <h3>Add a Brand</h3>
        <form class="" action="/brands" method="post">
          <input type="text" class="form-control" id="brand_name" name="brand_name" placeholder="New Brand">
          <button type="submit" class="btn btn-default btn-block" id="brandbtn">ADD</button>
        </form>
      </div>
    </div>
  </div>
