<div class="container">
  <div class="page-header">
    <h1>SHOE FINDER</h1>
    <h4>Search local shoe stores for your favorite brands</h4>
  </div>

  <div class="column1">
    <h2>CURRENT BRANDS</h2>
      <ul>
        <% @brands.each do |brand| %>
          <li><a href="/brands/<%= brand.id %>"><%= brand.brand_name %></a></li>
        <% end %>
      </ul>

    <h2>ADD A BRAND</h2>
      <form class="form-inline" action="/brands" method="post">
        <input type="text" class="form-control" id="brand_name" name="brand_name">
        <button type="submit" class="btn btn-default">Add Brand</button>
      </form>
    </div>
</div>
