<div class="container">
  <div class="page-header">
    <a href="/"><h1>SHOE FINDER</h1></a>
    <h4>Search local shoe stores for your favorite brands</h4>
  </div>

  <div class="linkbar">
    <a href="/brands" class="linkheader1">BRANDS</a>
    <a href="/stores" class="linkheader2">SHOPS</a>
  </div>
</div>
